*{
  color:#2C82C9;
}

.search-box{
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid #2C82C9 4px;
  outline: none;
  border-radius: 14px;
}
.search-btn{
  outline: none;
  border-radius: 14px;
  color: #ffff;
  background-color: #2C82C9;
  border: none;
transition: 0.2s;

}
.search-btn:hover{
  background-color: #0667b6;
  border-style: inset;
}

